body{
    background-color: #b734eb;
}

h3{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 80px;
    color: white;
    letter-spacing: 0px;
}

.fieldset{
    background-color: yellow;
    padding: 2% 0.5% 0.5% 0.5%;
    width: 60%;
    height: 100%; 
    margin: auto;
    font-size: 15px;
    border-radius: 3px;
}

.label{
    padding-left: 35%; 
    float: left; 
    text-align: right;
    margin-left: auto;
    margin-right:auto; 
}

.input{
   padding-left: 45%;  
}

#label{
    padding-left: 4%;
    text-align: right;
}



.details{
    margin: 15px;
}

#text{
    width: 250px;
    height: 50px;
}

button{
    margin-left: 40%;
    margin-right: 50%;
    width: 80px;
    height: 30px;
    background-color: rgb(106, 61, 212);
    border-radius: 5px;
    color: white;
    border-color:  rgb(106, 61, 212);
}

.radio{
    padding-left: 3%;
    text-align:end;
    vertical-align: top;
    display:inline-block;
}

.options{
    text-align: left;
    display: inline-block;
}

.radio1{
    margin: 15px;
    padding:4%;
}